.container {
    padding-top: 1.5rem;
}

.carousel {
    padding: 2rem 0;
}

.carousel img {
    height: 90vh;
    object-fit: cover;
}

.thumbs-wrapper,
.carousel-status {
    display: none;
}

.control-dots {
    display: none;
}

@media screen and (max-width: 800px) {
    .container {
        padding-top: 1rem;
    }
}